<header
  class="bg-header-pattern-mobile w-full h-[160px] bg-no-repeat bg-cover p-3 sm:p-0 relative"
>
  <div class="container mx-auto flex justify-between items-center h-full">
    <div class="logo flex items-center">
      <a class="text-white text-3xl font-bold" [routerLink]="['/']"> USERS </a>
    </div>
    <div class="toggle flex items-center justify-center">
      <img
        src="assets/desktop/icon-sun.svg"
        alt="sun svg"
        class="mr-3 w-[20px] bg-sun-icon"
      />
      <label class="relative inline-flex items-center cursor-pointer">
        <input
          id="darkModeInput"
          type="checkbox"
          value=""
          class="sr-only peer"
          [checked]="darkMode"
          (change)="toggleDarkMode()"
        />
        <div
          class="w-9 h-5 bg-white rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-darkBlue after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-white"
        ></div>
      </label>
      <img
        src="assets/desktop/icon-moon.svg"
        alt="moon svg"
        class="ml-3 w-[18px]"
      />
    </div>
  </div>
</header>
