<div
  class="filter container mx-auto bg-white dark:bg-darkThemeBG flex flex-col md:flex-row items-center md:justify-between justify-center gap-3 absolute top-[120px] rounded-md md:h-[80px] md:px-6 sm:px-12 px-3 py-4 md:py-0"
>
  <div
    class="flex items-center justify-between h-full md:flex-[2] flex-1 w-full"
  >
    <div
      class="searchInput flex items-center h-full md:border-r-2 border-lightGray dark:border-darkGray md:pr-3 md:flex-[4] flex-1"
    >
      <img
        src="assets/desktop/icon-search.svg"
        alt="search icon"
        class="w-[24px] h-[24px] mr-3"
      />
      <input
        type="text"
        placeholder="Filter by name.."
        name="filter-by-name"
        id="filter-by-name"
        [(ngModel)]="filterByName"
        (input)="filterUsers()"
        class="outline-none w-[70%] bg-inherit dark:text-white"
      />
    </div>

    <div class="flex items-center h-full md:px-4 md:flex-[2] flex-1">
      <img
        src="assets/desktop/email-icon.png"
        alt="email icon"
        class="w-[16px] h-[23px] mr-3"
      />
      <input
        type="text"
        placeholder="Filter by email"
        name="filter-by-email"
        id="filter-by-email"
        [(ngModel)]="filterByEmail"
        (input)="filterUsers()"
        class="outline-none w-[70%] dark:text-white bg-inherit"
      />
    </div>
  </div>
</div>

<div
  id="users-container"
  class="container mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-[80px] mb-10 dark:bg-darkThemeBG"
>
  @for (user of filteredUsers; track $index) {
  <a [routerLink]="['/user-details', user.id]">
    <app-users-card [user]="user"></app-users-card>
  </a>
  }
</div>

@if (isNoUser) {
<h1 class="text-red-700 w-full text-center text-2xl col-span-4 mt-4">
  No data found for this search.
</h1>
}

<mat-paginator
  [length]="usersLength"
  [pageSize]="pageSize"
  (page)="onPageChange($event)"
>
</mat-paginator>
