@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-header-pattern-mobile {
  background-image: url("./assets/mobile/bg-pattern-header.svg");
}

/* dark mode main color */
.dark {
  background-color: #121721;
  color: #fff;
}

/* remove the input autofill background*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f4f6f8;
}
